.sideUp{
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
}

mat-form-field{
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container{
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}