@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LAB.NET 2022</h1>
    <p class="lead">Technologies used in this project:  ASP Net Framework, C#, Razor, Javascript, Jquery and others..</p>
    <p><a href="https://github.com/JosephGengar/labnet2022/tree/TP7MVC" class="btn btn-primary btn-lg">Go to Github &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Shippers</h2>
        <p>
            Shippers Create, Read, Delete, Edit (CRUD)
        </p>
        <p><a class="btn btn-default" href="/Shippers">Go To &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Territories</h2>
        <p>Territories Read Only / Get List</p>
        <p><a class="btn btn-default" href="/Territories">Go To &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Classroom</h2>
        <p>See the Classwork here.</p>
        <p><a class="btn btn-default" href="https://classroom.google.com/u/0/c/NDg2OTcwMTM0Mzc2?cjc=hyhwhpk">Go to &raquo;</a></p>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-lg-12">
        <p>
            Crear una rama desde el trabajo de Entity Framework tiene que partir de "tp4" hacia
            una rama llamada "tp7".
        </p>
        <p>
            - Realizar un ABMC sobre la entidad que venian trabajando en Entity Framework.
            (Pueden Tomar de base su proyecto de Entity). Recuerden que el Proyecto Tiene que ser
            MVC de .NET (No confundir con Net Core).
        </p>
        <p>
            - Investiguar como utilizar la misma vista y controlador para realizar el Insert y Update.
        </p>
        <p>
            - Pueden agregar validators (con Atributos), pueden hacer validadores custom, capturar
            y mostrar estos mensajes de la forma que quieran.
        </p>
        <p>
            Nota: Es importante recalcar que no queremos que usen el proyecto que adjuntamos de
            la demo de base, como dice el enunciado, tomen de base su último proyecto de Entity
            Framework para realizar este trabajo.
        </p>
        <p>
            No requerido (Opcional pueden agregarle si les sobra tiempo):
        </p>
        <p>
            - Añadir mensajes de validación, pueden ser de excepciones capturadas, de validaciones
            que quieran agregar o mensajes custom para determinada acción. Pueden utilizar o no lo
            visto en clase.
        </p>
        <p>
            - Se subió la Demo de los ejemplos que vimos el día de hoy, se valorará su aplicación
            y forma correcta que crean de aplicarlos.
        </p>
        <p>
            - Tienen jQuery instalado en su MVC, pueden usar scripts,  otros tipos de llamadas
            al MVC (ajax si se animan).
        </p>
        <p>
            - Pueden agregar cualquier otra cosa que se les ocurra si quieren completarlo más.
        </p>                     
    </div>
</div>